name: Auto update

on:
  schedule:
    - cron: '37 19 * * *'
  workflow_dispatch:
permissions:
  contents: write
env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
jobs:
  update:
    runs-on: ubuntu-latest

    steps:
      - name: Set up python
        uses: actions/setup-python@v6
        with:
          python-version: '3.14' 

      - name: Prepare For Update
        run: |
          sudo apt update
          sudo apt upgrade
          sudo apt-get install openssh-client python3-setuptools
          pip install genpac

      - name: pull repo
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
          
      - name: Update
        run: |
          cd loukky-gfwlist-pac
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"
          set -x
          genpac --gfwlist-url https://raw.githubusercontent.com/Loukky/gfwlist-by-loukky/master/gfwlist.txt -o gfwlist.json --format v2ray --pac-proxy "SOCKS5 127.0.0.1:1080; SOCKS 127.0.0.1:1080; DIRECT;"
          git add gfwlist.json
          git commit -m "[$(LANG=C date)] auto update"
          git push
        continue-on-error: true
